<div class="container mt-5">

    <h2 class="text-center">Documento: </h2>
    <h2 class="text-center"><small>{{ nombre }}</small></h2>
    <hr>

    <div class="row text-right">
        <div class="col">
            <button class="btn btn-danger" routerLink="/formatos">Regresar</button>
        </div>
    </div>

    <div class="row">
        <form (ngSubmit)="upload()">
            <label>Nombre archivo:&nbsp;&nbsp;</label>
            <input type="text" [(ngModel)]="archivo.nombreArchivo" name="file" size="50">
            <hr>
            <input type="file" accept=".pdf" (change)="seleccionarArchivo($event)">
            <hr>
            <button class="btn btn-primary" [disabled]="!archivo.nombreArchivo">Adjuntar Archivo</button>
        </form>
    </div>

</div>